body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

*:focus {
    outline: 3px dashed #ccc;
}

.container {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    height: 7em;
}

.cover img {
    height: 100%;
}

.panel {
    width: 50em;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
}

.info-primary {
    font-size: 1.25em;
}

.required {
    color: red;
}

.input-short {
    border: none;
    padding: 1em;
    padding-left: 0.25em;
    font-size: 1em;
    width: 15em;
    border-bottom: 1px solid #ccc;
}

.input-long {
    border: none;
    padding: 1em;
    padding-left: 0.25em;
    font-size: 1em;
    width: 30em;
    border-bottom: 1px solid #ccc;
}

.submit {
    margin-top: 1.5em;
    margin-bottom: 3em;
    color: white;
    background-color: #027cbf;
    padding: 0.75em;
    width: 10em;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    cursor: pointer;
}

