<template>
  <div>
    <div class="columns is-multiline is-variable is-6" v-if="list.length">
        <div class="column is-half is-one-third-fullhd" v-for="item in list" :key="item.id">
            <Card :item="item" @showImage="imageModalListener" />
        </div>
    </div>

    <p v-else>…</p>
  </div>
</template>

<script>
import Card from "~/components/Card.vue";

export default {
    props: {
        list: {
        type: Array,
        default: []
        }
    },
    components: {
        Card,
    },
    data() {
        return {};
    },
    methods: {
        imageModalListener: function(imageUrl){
            this.$emit('showImage', imageUrl);
        }
    }
    };
</script>
