@import './styles/variables', './styles/layout';

body {
    font-family: 'Nunito', sans-serif;
    background-color: $gray-100;
}

i.lab, i.lar, i.las {
    margin-right: .5rem;
}

// helper classes
.nowrap {
    white-space: nowrap;
}
