<template>
  <section class="main-container">
    <Navbar @showAbout="onShowAbout" />

    <article>
        <header class="site-title">
            <h1 class="title is-uppercase has-text-weight-light">Supporto psicologico <span class="nowrap">Covid-19</span></h1>
            <h2 class="subtitle" >Una lista di servizi <span class="is-bold">gratuiti</span> raggiungibili online o via telefono in Italia</h2>
        </header>

        <main>
            <List :list="list" @showImage="onShowImage" />
        </main>

        <div class="message is-info">
            <div class="message-body">
                <p>Se desideri aggiungere un servizio alla lista, segnalare un problema, contribuire o inviare dei suggerimenti, consulta le istruzioni in <a href="#" @click.prevent="onShowAbout()">Info</a></p>
            </div>
        </div>
    </article>

    <Footer />

    <AboutModal :isActive="isAboutActive" @closeAbout="onCloseAbout" />
    <ImageModal :isActive="isImageActive" :imageUrl="currentImageUrl" @closeImage="onCloseImage" />
  </section>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import Navbar from "~/components/Navbar.vue";
import Footer from "~/components/Footer.vue";
import List from "~/components/List.vue";
import AboutModal from "~/components/AboutModal.vue";
import ImageModal from "~/components/ImageModal.vue";

const BASEURL = process.env.NODE_ENV === "production" ? "https://xho.gitlab.io/supporto-psicologico-covid-19" : "http://localhost:3000";

export default {
  data() {
    return {
        list: [],
        isAboutActive: false,
        isImageActive: false,
        currentImageUrl: '',
    };
    },
    components: {
        Navbar,
        Footer,
        List,
        AboutModal,
        ImageModal,
    },
    mounted() {},
    methods: {
        onShowAbout(e) {
            this.isAboutActive = true;
        },
        onCloseAbout(e) {
            this.isAboutActive = false;
        },
        onShowImage(e) {
            this.currentImageUrl = e;
            this.isImageActive = true;
        },
        onCloseImage(e) {
            this.currentImageUrl= '';
            this.isImageActive = false;
        },
    },

    async asyncData({ req, isServer, params, store }) {
        return await axios.get(BASEURL + "/list.json").then(res => {
            let list = res.data;
            return { list: list };
        });
    }
};
</script>

<style lang="scss">
    @import "~/assets/style.scss";
    .site-title {
        @media screen and (min-width: 1408px) {
            h1 { font-size: 2.5rem; }
            h2 { font-size: 1.5rem; }
        }
    }
</style>
